In [28]:
import pandas as pd

In [29]:
#Define file path

file = "Original_CSVs/airports.csv"

In [30]:
#Read CSV into Pandas

df = pd.read_csv(file)

In [31]:
df.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228

In [32]:
#Drop null fields

drop_null = df.dropna()

In [33]:
#Count fields to make sure no null

drop_null.count()

IATA         337
AIRPORT      337
CITY         337
STATE        337
COUNTRY      337
LATITUDE     337
LONGITUDE    337
dtype: int64

In [34]:
drop_null.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228

In [35]:
#Keep only IATA, Airport, City, State and Country fields

airport_df = drop_null[["IATA","AIRPORT","CITY","STATE","COUNTRY"]]
airport_df.head()

  IATA                              AIRPORT           CITY STATE COUNTRY
0  ABQ            Albuquerque International    Albuquerque    NM     USA
1  ANC  Ted Stevens Anchorage International      Anchorage    AK     USA
2  ATL    William B Hartsfield-Atlanta Intl        Atlanta    GA     USA
3  AUS       Austin-Bergstrom International         Austin    TX     USA
4  BDL                Bradley International  Windsor Locks    CT     USA

In [36]:
#Read into new csv file

airport_df.to_csv("CleanedAirports.csv",index=False)